<a href="https://colab.research.google.com/github/AS-TR0/System-Project/blob/main/AstroPandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas

In [5]:
PnL = ['Sales','COS','Expenses','Tax']

PnL_DF = pandas.DataFrame(PnL)

In [6]:
PnL_DF

          0
0     Sales
1       COS
2  Expenses
3       Tax

In [11]:
PnL = [['Sales', 1000000,],['COS', 600000,],['Expenses',150000],['Tax',25000]]

PnL_DF = pandas.DataFrame(PnL, columns=['Description', 'Amounts'])

In [12]:
print(PnL_DF)

  Description  Amounts
0       Sales  1000000
1         COS   600000
2    Expenses   150000
3         Tax    25000